#past-orders{
    margin-left: 300px;
    /* max-width: 18rem; */
}

#item-name{
    /* float: left; */
    margin-right: 50px;
}

#item-price{
    float: left;
    margin-right: 50px;
    /* margin-left: 70px; */
}

#item-quantity{
    float: left;
    margin-right: 50px;
}
#item-Total{
    margin-right: 50px;
}