.nav-login-logout {
  position: absolute;
  /* position: fixed; */
  right: 100px;
  color: rgb(252, 1, 1);
} 

.navbar-inverse{
    position: absolute;
  /* position: fixed; */
  right: 140px;
} 
.logo-main{
    color: rgb(250, 3, 3);
}
.dropdown:hover>.dropdown-menu{
  display: block;
}

a{
  color:#000;
}